<form [formGroup]="dialogForm" novalidate (ngSubmit)="onSubmit()" class="mat-typography">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          required>
        <mat-error *ngIf="dialogForm.hasError('required', 'email')">
          This is required
        </mat-error>
        <mat-error *ngIf="dialogForm.hasError('email', 'email')">
          Invalid Email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          required>
        <mat-error *ngIf="dialogForm.hasError('required', 'username')">
          This is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          required>
        <mat-error *ngIf="dialogForm.hasError('required', 'firstName')">
          This is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          required>
        <mat-error *ngIf="dialogForm.hasError('required', 'lastName')">
          This is required
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="isSaving || dialogForm.invalid">Save</button>
  </mat-dialog-actions>
</form>
